services:
  sandbox:
    build: .
    develop:
      watch:
      - action: sync
        path: .
        target: /home/node/app
        ignore:
          - node_modules/
      - action: rebuild
        path: package.json
    ports:
      - "3000:3000"
    container_name: sandbox
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - ./:/app
      - /app/node_modules

  redis:
    image: valkey/valkey:7.2.5
    platform: linux/amd64
    ports:
      - "6379:6379"
      - "8001:8001"
    healthcheck:
      test: ["CMD", "redis-cli", "-h", "localhost", "-p", "6379", "-a", "key_admin", "ping"]
      interval: 5s
      timeout: 10s
      retries: 3
    volumes:
      - valkey_data:/data
      - ./valkey.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

volumes:
  valkey_data:
    driver: local
