#### If running with a clustered Redis backend, set HMSH_IS_CLUSTER to true ####
# HMSH_IS_CLUSTER=true

##### Log metrics to your honeycomb account #####
HONEYCOMB_ENABLED=false
HONEYCOMB_API_KEY=XXXXXXXXXXXXX
OTEL_SERVICE_NAME=YYYYYY

OPENAI_API_KEY=sk-ZZZZZZZZZZZZZ

##### Enable/suppress which app-server backends are surfaced by the dashboard
USE_REDIS=true
USE_VALKEY=true
USE_DRAGONFLY=true
